
<div class="container1">
    <img src="	https://bowwe.com/upload/domain/27003/images/trusted-img.webp?26677" alt="" width="480px" height="400px">
    <h1>TRUSTED ACCOUNTING<p> We are an accounting office with traditions. We employ qualified specialists, for whom accounting and personnel have no secrets. We provide an individual approach to the needs of clients and their companies. Not only do we have a wealth of knowledge, but we are also happy to share it with our clients. Thanks to this approach, we enjoy great confidence.</p></h1>

</div>
<div class="container2">
    <h1>YOUR ACCOUNTING<p> We are an accounting office with traditions. We employ qualified specialists, for whom accounting and personnel have no secrets. We provide an individual approach to the needs of clients and their companies. Not only do we have a wealth of knowledge, but we are also happy to share it with our clients. Thanks to this approach, we enjoy great confidence.</p></h1>
    <img src="https://bowwe.com/upload/domain/27003/images/your-accounter-img.webp?153206.80000019073" alt="" width="480px" height="400px">
</div>