<div class="arbaz-container">
    <!-- Lawyers Page -->
    <div class="our-lawyers">
        <div class="lawyers-page">
            <p class="title">Our Best Lawyers</p>
            <ul class="lawyer-img">
                <li>
                    <div class="lawyer1-img">
                        <img src="/images/lawer3.jpeg">
                        <p>Aditiya Kumar</p>
                    </div>
                </li>
                <li>
                    <div class="lawyer2-img">
                        <img src="/images/lawer2.png">
                        <p>Imran khan</p>
                    </div>
                </li>
                <li>
                    <div class="lawyer3-img">
                        <img src="/images/lawer3.jpeg">
                        <p>Afroz Akhtar</p>
                    </div>
                </li>
            </ul>
            <div class="button">
                <button class="btn">Read More</button>
            </div>
        </div>
    </div>


    <!-- Contact-US Page-->
    <div class="contact-us">
        <!-- =================contact info ========================= -->
        <div class="contact-info">
            <ul class="contact-ul">
                <li class="contact-li">
                    <div class="info">
                        <img src="/images/location.png">
                        <p>New Delhi, India</p>
                    </div>
                </li>

                <li class="contact-li">
                    <div class="info">
                        <img src="/images/telephone-call.png">
                        <p>9953532472</p>
                    </div>
                </li>

                <li class="contact-li">
                    <div class="info">
                        <img src="/images/gmail.png">
                        <p>arbazkhaan.cs@gmail.com</p>
                    </div>
                </li>

                <li class="contact-li">
                    <div class="info">
                        <img src="/images/time.png">
                        <p>Mon-Sat: 9:00am to 5:30pm</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ========================== Form ================================ -->
        <div class="form-container">
            <p class="contact-head">Contact</p>
            <form action="/" method="post" class="form-starts">
                <div class="submit">{{submited}}</div>
                <div class="row1">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name" id="name" name="Name" required>
                    </div>

                    <div class="col">
                        <input type="email" class="form-control" placeholder="Email" id="Email" name="Email" required>
                    </div>
                </div>

                <div class="row2">
                    <textarea class="form-control " id="validationTextarea" placeholder="Enter your Message" rows="3" cols="46"
                        name="Description" required></textarea>
                </div>


                <div class="submit">
                    <button class="btn btn-outline-light w-100">Send</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <p>Copyright: Arbaz Khan</p>
</div>