<header>

<!-- NavBar -->
<div class="navBar" id="navBarFx">
    <a href="homepage.hbs" class="navBar-logoHolder"></a>

    <div class="navBar-Contents">
    <a href="#">Hire Now</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
    <a href="#">About Us</a>
    </div>

    <div class="navBar-right">
    <div class="navBarRight-Lang">
        <a href="#" class="fa-sharp fa-solid fa-language fa-2xl" style="color: #dba35e; text-decoration: none;"></a>
    </div>
    <div class="navBarRight-SignIn">
        <a href="#" class="fa-sharp fa-solid fa-right-to-bracket fa-2xl"
        style="color: #dba35e; text-decoration: none;"></a>
    </div>
    </div>
</div>

<script src="navBarScript.js"></script>
</header>


<div class="heroSection">
<div class="hero-InnerSection">
    <div class="hero-inner-left">
    <div class="hero-inner-left-contents">
        <h1>Legal Services</h1>
        <h2>On the highest level</h2>
        <div class="hero-inner-left-btns">
        <a href="#">Consult a lawyer</a>
        <a href="#">Ask a free question</a>
        </div>
    </div>
    </div>
    <div class="hero-inner-image">
    <div class="hero-image"></div>
    </div>
</div>
</div>

<div class="stat-section">
<div class="stat-container">
    <div class="stat-ico" style="background-image: url('/images/ico1.png') ;"></div>
    <h1 class="number" data-target="1000">0</h1>
    <h2>Skilled attorneys</h2>
</div>
<div class="stat-container">
    <div class="stat-ico" style="background-image: url('/images/ico4.png') ;"></div>
    <h1 class="number" data-target="5000">0</h1>
    <h2>Cases Solved</h2>
</div>
<div class="stat-container">
    <div class="stat-ico" style="background-image: url('/images/ico3.png') ;"></div>
    <h1 class="number" data-target="2500">0</h1>
    <h2>Worldwide Services</h2>
</div>
</div>

<script src="counter.js"></script>