<section class="container">
    <p class="service_heading">Our service</p>
    <div class="services">

    <div class="services_box">
        <div class="service_box_icon"><img src="/images/icon.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>

    <div class="services_box alter_box">
        <div class="service_box_icon"><img src="/images/server.png" alt="icon"></div>
        <div class="service_link"><a href="#">Adivce</a></div>
    </div>

    <div class="services_box">
        <div class="service_box_icon"><img src="/images/icon.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>

    <div class="services_box alter_box">
        <div class="service_box_icon"><img src="/images/server.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>
    <div class="services_box alter_box">
        <div class="service_box_icon"><img src="/images/icon.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>
    <div class="services_box">
        <div class="service_box_icon"><img src="/images/server.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>
    <div class="services_box alter_box">
        <div class="service_box_icon"><img src="/images/icon.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div>
    <div class="services_box">
        <div class="service_box_icon"><img src="/images/icon.png" alt="icon"></div>
        <div class="service_link"><a href="#">Services</a></div>
    </div> 
    </div>
</section>