<div class="title title-slide">Our Clients</div>
<div class="slider-container">
  <div class="section-slider">
    <img src="/images/client2.jpg" class="slide" alt="">
    <img src="/images/review1.webp" class="slide" alt="">
    <img src="/images/client3.jpg" class="slide" alt="">
    <img src="/images/client1.avif" class="slide" alt="">

  </div>
  <div class="button">
    <button id="leftBtn" class="swipeBtn" onclick="goNext()">
      <svg width="30px" height="20px">
        <path stroke="#ffffff" fill="none" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
      </svg>
    </button>
    <button id="rightBtn" class="swipeBtn" onclick="goPrev()">
      <svg width="30px" height="20px">
        <path stroke="#ffffff" fill="none" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
      </svg>
    </button>

  </div>
    <div class="caption">
      You don't come across such a good company very often. Attention to every detail, professionalism and high competences are the features that distinguish it from the competition. Each stage of our cooperation was exemplary. I recommend hand on heart!
    </div>
</div>
<script src="slider.js"></script>